{% extends 'base.html.twig' %}

{% block body %}
    <h1>Brands list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for brand in brands %}
            <tr>
                <td><a href="{{ path('brand_show', { 'id': brand.id }) }}">{{ brand.id }}</a></td>
                <td>{{ brand.name }}</td>
                <td>{{ brand.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('brand_show', { 'id': brand.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('brand_edit', { 'id': brand.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('brand_new') }}">Create a new brand</a>
        </li>
    </ul>
{% endblock %}
